<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>
  <body>
    <div class="website-header">
      <div class="container">
        <a href="{{ pathto('', 1) }}">
          <img class="logo" src="{{ pathto('_static/logo.png', 1) }}">
        </a>
        <ul class="nav nav-pills pull-right main-menu">
          <li role="presentation" class="active"><a href="{{ pathto('', 1) }}">Home</a></li>
          <li role="presentation"><a href="{{ pathto('docs.html', 1) }}">Docs</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron jumbotron-home">
      <div class="container">
        <h1>Building a modular Linux OS</h1>
        <p>with multiple versions of components on different lifecycles.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ pathto('docs.html', 1) }}" role="button">Read the Docs</a></p>
      </div>
    </div>

    <div class="small-jumbotron small-jumbotron-boltron">
      <div class="container">
        <h2> Boltron is coming! </h2>
        <p> We are building a <b>modular prototype</b>. Follow the progress, try it, and give us feedback.</p>
        <p><a class="btn btn-boltron" href="{{ pathto('prototype/boltron.html', 1) }}" role="button">Fedora 26 Boltron Server</a></p>
      </div>
    </div>

    <div class="small-jumbotron small-jumbotron-white">
      <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hwsZ1Ob2bgs?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="small-jumbotron small-jumbotron-shadow">
      <div class="container">
        <h2> When you want a rolling release. But not really. </h2>

        <p>  How do I get a <strong>cutting-edge runtime </strong> along with a <strong>stable database</strong>? </p>

        <div class="row text-center">
          <div class="col-md-3 col-sm-6">
            <div class="viz-distro">
              <h3> Fast Release </h3>
              <div class="viz-component viz-component-new">
                new app runtime
              </div>
              <div class="viz-component viz-component-old">
                new database
              </div>
              <div class="viz-component viz-component-new">
                new kernel
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="viz-distro">
              <h3> Stable Release </h3>
              <div class="viz-component viz-component-old">
                old app runtime
              </div>
              <div class="viz-component viz-component-new">
                stable database
              </div>
              <div class="viz-component viz-component-old">
                old kernel
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="viz-distro">
              <h3> Modularity </h3>
              <div class="row">
                <div class="col-xs-6" style="padding-right:0">
                  <div class="viz-component viz-component-module">
                    new app runtime
                  </div>
                </div>
                <div class="col-xs-6" style="padding-left:0">
                  <div class="viz-component viz-component-module">
                    stable database
                  </div>
                </div>
              </div>
              <div class="viz-component viz-component-new">
                new kernel
              </div>
            </div>
          </div>
        </div>

        <p> Modularity separates the HW part (<strong>Base Runtime</strong>) of the application part (<strong>Modules</strong>). Different modules can have different goals like specific <strong>version</strong>, <strong>stability</strong>, or <strong>following upstream</strong>.</p>
      </div>
    </div>






    <div class="small-jumbotron small-jumbotron-white">
      <div class="container">
        <h2>Follow our progress</h2>
        <p>We post regular updates to our <a href="https://www.youtube.com/channel/UC4O8G9SZwqtkIAuKcT8-JpQ">Fedora Modularity YouTube Channel</a>.</p>
        <p><a class="btn btn-primary" href="https://www.youtube.com/channel/UC4O8G9SZwqtkIAuKcT8-JpQ" role="button">Watch our videos</a></p>
      </div>
    </div>

    <div class="small-jumbotron small-jumbotron-shadow">
      <div class="container">
        <h2>Get in touch!</h2>
	<p>Come to our <a href="https://apps.fedoraproject.org/calendar/modularity/">regular meeting</a>, ask us on the <a href="https://lists.fedoraproject.org/archives/search?mlist=devel%40lists.fedoraproject.org&q=%5Bmodularity%5D">mailing list</a>, or discuss on our <a href="irc://freenode/fedora-modularity">IRC channel</a>. </p>
        <p><a class="btn btn-primary" href="{{ pathto('docs.html', 1) }}" role="button">Modularity Working Group wiki page</a></p>
      </div>
    </div>

    <footer>
      <div class="container">
      {% include "footer.html" %}
      </div>
    </footer>

  </body>
</html>
