<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>
  <body>
    <div class="website-header">
      <div class="container">
        <a href="{{ pathto('', 1) }}">
          <img class="logo" src="{{ pathto('_static/logo.png', 1) }}">
        </a>
        <ul class="nav nav-pills pull-right main-menu">
          <li role="presentation" class="active"><a href="{{ pathto('', 1) }}">Home</a></li>
          <li role="presentation"><a href="{{ pathto('docs.html', 1) }}">Docs</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron jumbotron-home">
      <div class="container">
        <h1>Building a modular Linux OS</h1>
        <p>with multiple versions of components on different lifecycles.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ pathto('docs.html', 1) }}" role="button">Read the Docs</a></p>
      </div>
    </div>

    <div>
      <div class="container" style="padding: 20px 0">
        <h2>Some cool value proposition!</h2>
        <p>so people know how amazing this project is. We can mention something specific and then link to the docs!</p>
        <p><a class="btn btn-primary" href="{{ pathto('docs.html', 1) }}" role="button">Learn More</a></p>
      </div>
    </div>

    <div style="background-color: black; height: 400px;">
      <div class="container" style="padding: 100px 0">
        <h2 class="text-center" style="color: #777">What about a video?</h2>
      </div>
    </div>

    <div>
      <div class="container" style="padding: 20px 0">
        <h2>Some other useful info!</h2>
        <p>so people know how amazing this project is. We can mention something specific and then link to the docs!</p>
        <p><a class="btn btn-primary" href="{{ pathto('docs.html', 1) }}" role="button">Try it yourself!</a></p>
      </div>
    </div>

    <div style="background-color: #eee">
      <div class="container" style="padding: 20px 0">
        <h2>Join us!</h2>
        <p>link to a very simple onboarding documentation should be a part of this block.</p>
        <p><a class="btn btn-primary" href="{{ pathto('docs.html', 1) }}" role="button">Join us!</a></p>
      </div>
    </div>


    {% block body %}{% endblock %}

    {% include "footer.html" %}

  </body>
</html>
