<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>
  <body>
    <div class="website-header">
      <div class="container-fluid">
        <a href="{{ pathto('', 1) }}">
          <img class="logo" src="{{ pathto('_static/logo.png', 1) }}">
        </a>
        <ul class="nav nav-pills pull-right main-menu">
          <li role="presentation">
            <a href="{{ pathto('', 1) }}">
              <span class="glyphicon glyphicon-home"></span> Home
            </a>
          </li>
          <li role="presentation">
            <a href="{{ pathto('boltron/', 1) }}">
              <span class="glyphicon glyphicon-fire"></span> Prototype
            </a>
          </li>
          <li role="presentation" class="active">
            <a href="{{ pathto('docs.html', 1) }}">
              <span class="glyphicon glyphicon-book"></span> Docs
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="website-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 menu">
            {% set toctree = toctree(maxdepth=4, collapse=True, includehidden=True, titles_only=True) %}
            {% if toctree %}
                {{ toctree }}
            {% else %}
                {{ toc }}
            {% endif %}
          </div>
          <div class="col-md-9 content">
            <ol class="breadcrumb">
              <li><a href="{{ pathto('', 1) }}">Home</a></li>
              <li><a href="{{ pathto(master_doc) }}">Docs</a></li>
              {% for doc in parents %}
                  <li><a href="{{ doc.link|e }}">{{ doc.title }}</a></li>
              {% endfor %}
              <li class="active">{{ title }}</li>
            </ol>

            <a href="https://pagure.io/modularity"
               class="btn btn-default pull-right">
              <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>

            <div class="document">
            {% block body %}{% endblock %}
            </div>

            <hr>

            <div class="next-prev-btns">
              {% if next %}
                <a href="{{ next.link|e }}" class="btn btn-default pull-right">
                  {{ _('Next') }}
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              {% else %}
                <a href="" class="btn btn-default pull-right disabled"> <span class="glyphicon glyphicon-chevron-right"></span></a>
              {% endif %}
              {% if prev %}
                <a href="{{ prev.link|e }}" class="btn btn-default">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  {{ _('Previous') }}
                </a>
              {% else %}
                <a href="" class="btn btn-default disabled">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  {{ _('Previous') }}
                </a>
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>

    <footer>
      {% include "footer.html" %}
    </footer>
  </body>
</html>
