@font-face {
  font-family: 'Alte Haas Grotesk';
  font-style: normal;
  font-weight: normal;
  src: local('Alte Haas Grotesk'), url('AlteHaasGroteskRegular.woff') format('woff');
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  font-style: normal;
  font-weight: bold;
  src: local('Alte Haas Grotesk Bold'), url('AlteHaasGroteskBold.woff') format('woff');
}

* {
  font-family: 'Alte Haas Grotesk';
}

html, body {
  height: 100%;
}

div.website-header {
  background-color: #072b61;
}

div.website-header img.logo {
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;

}

div.website-header ul.main-menu {
  margin-top: 28px;
  font-size: 1.2em;
}

div.website-header ul.main-menu li a {
  color: white;
  border-radius: 0;
  padding: 4px;
  margin: 8px;
}

div.website-header ul.main-menu li a:hover {
  color: white;
  background: transparent;
  border-bottom: 3px solid #bbb;

}

div.website-header ul.main-menu li.active a {
  color: white;
  background: transparent;
  border-bottom: 3px solid white;
}

div.jumbotron-home {
  background-color: #072b61;
  color: white;
  margin-bottom: 0;
}

div.jumbotron-home h1 {
  font-size: 3.6em;
  margin-top: 0;
}

div.jumbotron-home p {
  font-size: 1.8em;
}



div.website-content {
  background-color: #2a2a2a;
  min-height: calc(100% - 260px);
}

div.content div.document {
  min-height: 500px;
}

footer {
  height: 160px;
  background-color: #111;
}


div.website-content div.menu {
  background-color: #2a2a2a;
  padding: 0;
}

div.website-content div.menu ul {
  list-style: none;
  padding: 0;
}

div.website-content div.menu ul li.current {
  background-color: #eee;
}

div.website-content div.menu ul li a {
  color: #ddd;
  display: block;
  padding: 8px 24px;
}

div.website-content div.menu ul li a:hover {
  background-color: #444;
}

div.website-content div.menu ul li.current a,
div.website-content div.menu ul li.current a:hover {
  background-color: #fff;
  color: #333;
}

div.website-content div.menu li ul {
  padding-left: 20px;
}

div.website-content div.menu ul li.current li a {
  background-color: #eee;
}

div.website-content div.menu p.caption{
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 24px;
}






div.website-content div.content {
  background-color: white;
}

a.headerlink {
  color: white;
}

h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink {
  color: #aaa;
}


a.btn {
  border-radius: 0;
}


a.btn-primary {
  background-color: #0a57a4;
  border-color: #0a57a4;
}

div.next-prev-btns {
  margin-bottom: 14px;
}
